@import "settings";


.items
{
    &__wr{
        @extend %wr;
        margin-top: 100px;
        
       
    }
    &__content
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        row-gap:60px;
    
    }
}

.footer
{
    margin-top: 100px;
    &__wr
    {
        
        @extend %wr;
        display:  flex;
        justify-content: center;
    }
}
